@font-face {
  font-family: "welcome-web";
  src: url("../fonts/welcome-font-bold.eot");
  src: url("../fonts/welcome-font-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/welcome-font-bold.woff2") format("woff2"),
    url("../fonts/welcome-font-bold.woff") format("woff"),
    url("../fonts/welcome-font-bold.ttf") format("truetype"),
    url("../fonts/welcome-font-bold.svg#welcome-font-bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.eot");
  src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WorkSans-Regular.woff2") format("woff2"),
    url("../fonts/WorkSans-Regular.woff") format("woff"),
    url("../fonts/WorkSans-Regular.ttf") format("truetype"),
    url("../fonts/WorkSans-Regular.svg#WorkSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-padding-top: 100px;
}
body {
  font-family: "Work Sans", serif;
}
header,
footer {
  display: flex;
}
header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: white;
  border-bottom: 1px solid #e9e9e9;
  width: 100%;
}
.header-content {
  width: calc(100% - 3rem);
  max-width: 75rem;
  margin: 8px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .burger-menu {
  border-radius: 50%;
  padding: 7px;
  display: none;
}
header .burger-menu img {
  width: 20px;
}
header .burger-menu:hover {
  cursor: pointer;
  background-color: #e9ecef;
}
header .mini-logo {
  width: 80px;
  display: none;
}
header .mini-logo img {
  width: 90px;
}
header .contact-logo {
  border-radius: 50%;
  padding: 7px;
  display: none;
}
header .contact-logo:hover {
  background-color: #e9ecef;
}
header .contact-logo img {
  width: 20px;
}
header .top-header {
  display: flex;
  justify-content: space-between;
}
header .bottom-header {
  display: none;
  padding: 40px 0;
}
header .bottom-header nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
header .bottom-header nav a {
  text-decoration: none;
  color: black;
}
header .bottom-header nav a:hover {
  text-decoration: underline;
  text-decoration-color: #ffcd00;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
}
header .left-header {
  display: flex;
  align-items: center;
  flex: 2;
}
header .left-header .logo img {
  width: 140px;
  margin-right: 50px;
}
header .left-header nav {
  flex: 1;
}
header .left-header .nav-link {
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.019rem;
  margin-right: 30px;
}
header .left-header .nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #ffcd00;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
}
header .left-header .first {
  text-decoration: underline;
  text-decoration-color: #ffcd00;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
}
header .right-header {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
button {
  font-family: "Work Sans", serif;
  padding: 8px 10px;
  font-size: 0.75rem;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
.nav-btn-yellow {
  padding: 8px 15px;
  border: 1px solid #ffcd00;
  background-color: #ffcd00;
}
.nav-btn-yellow:hover {
  border: 1px solid #ffe062;
  background-color: #ffe062;
}
header .nav-btn-white {
  border: 1px solid black;
  background-color: white;
  margin-right: 10px;
}
header .nav-btn-white:hover {
  background-color: #e9ecef;
}
main .hero-section {
  background-color: #ffcd00;
  padding: 20px 0;
}
main .hero-section-content {
  width: calc(100% - 1.5rem);
  max-width: 75rem;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .hero-section-title {
  flex: 1;
}
main .hero-section-title h1 {
  font-family: "welcome-web", sans-serif;
  font-weight: 600;
  font-size: 2.7rem;
  letter-spacing: -0.075rem;
}
main .hero-section-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
main .hero-section-buttons .button {
  font-family: "welcome-web", sans-serif;
  width: 450px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;
  font-weight: bold;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
main .hero-section-buttons .button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
main .hero-section-buttons .btn-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .hero-section-buttons .icon {
  height: 15px;
}

main .bottom-section {
  background-color: #efeae4;
}
main .journey-block {
  height: 1580px;
  padding: 40px 0;
  position: relative;
}
main h2 {
  font-family: "welcome-web", serif;
  font-size: 2rem;
  letter-spacing: -0.06rem;
  font-weight: bold;
  text-align: center;
}
main .journey-block .line {
  width: 5px;
  height: 1150px;
  background: #000;
  position: absolute;
  top: 150px;
  left: calc(50% - 2.5px);
}
main .journey-block .point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: calc(50% - 10px);
}
.p1 {
  top: 150px;
}
.p2 {
  top: 400px;
}
.p3 {
  top: 700px;
}
.p4 {
  top: 1000px;
}
.p5 {
  top: 1300px;
}
main .journey-block .box {
  width: 420px;
  min-height: 100px;
  max-height: 350px;
  border: 1px solid black;
  background: white;
  box-shadow: 3px 5px 5px #999;
  position: absolute;
  padding: 15px 25px;
  opacity: 0.2;
}
.b1 {
  left: calc(50% - 470px);
  top: 150px;
}
.b2 {
  left: calc(50% + 50px);
  top: 400px;
}
.b3 {
  left: calc(50% - 470px);
  top: 700px;
}
.b4 {
  left: calc(50% + 50px);
  top: 1000px;
}
.b5 {
  left: calc(50% - 470px);
  top: 1300px;
}
main .journey-block .box .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main .journey-block .box .head a {
  text-decoration: none;
}
main .journey-block .box .head span {
  font-weight: bold;
}
main .journey-block .box a {
  color: black;
}
main .journey-block .box h3 {
  font-weight: 600;
  padding-right: 50px;
}
main .journey-block .box .logo {
  height: 20px;
}
main .journey-block .b5 span {
  font-style: italic;
  font-size: small;
}
main .journey-block .box p {
  margin-bottom: 20px;
}
main .journey-block .box li {
  margin-bottom: 10px;
}
main .journey-block .box span {
  font-weight: bold;
}
main .skills {
  width: 100%;
  background: white;
  padding: 60px 0 40px 0;
}
main .skills-content {
  width: calc(100% - 1.5rem);
  max-width: 75rem;
  margin: 0 auto;
}
main .skills-list {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
main .skill-logo img {
  height: 130px;
  width: 130px;
  border-radius: 15px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}
main .skill-logo img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(1.1);
}
main .projects {
  width: 100%;
  padding: 60px 0 20px 0;
}
main .projects .projects-nav {
  padding: 60px 0 10px 0;
}
main .projects .projects-nav a {
  color: #474644;
  font-family: "Work Sans", serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 0.5rem;
}
main .projects .projects-nav a:hover {
  cursor: pointer;
}
main .projects .projects-line {
  height: 1px;
  width: 100%;
  background: #d7d2cd;
  margin-bottom: 20px;
  position: relative;
}
main .projects .projects-line span {
  height: 2px;
  width: 90px;
  position: absolute;
  background-color: #ffcd00;
}

main .projects .projects-content {
  width: calc(100% - 1.5rem);
  max-width: 75rem;
  margin: 0 auto;
}
main .projects .projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding-bottom: 60px;
}
main .projects .project-card {
  height: 460px;
  width: calc(33% - 10px);
  min-width: 350px;
  background: white;
  display: flex;
  flex-direction: column;
}
main .projects .to-continue {
  background-color: black;
  color: white;
  line-height: 2.5rem;
}
main .projects .card-img {
  height: 35%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
}
main .projects .card-img img {
  width: 100%;
}
main .projects .card-bottom {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 20px 20px 20px;
}
main .projects .project-card .card-bottom h4 {
  font-family: "welcome-web", sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: large;
}
main .projects .project-card .card-bottom img {
  width: 15px;
  margin-right: 10px;
}
main .projects .project-card .card-bottom li {
  margin-bottom: 10px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}
main .projects .card-bottom .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .projects .card-bottom .link p {
  font-weight: bold;
  font-size: small;
}
main .projects .card-bottom .link a {
  border: black solid 1px;
  padding: 8px 15px;
  color: black;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}
main .projects .card-bottom .link .symbiose:hover span {
  display: none;
}
main .projects .card-bottom .link .symbiose:hover:after {
  content: " on demand";
}
main .projects .card-bottom .link a:hover {
  background-color: #e9ecef;
}
main .to-continue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .to-continue h4 {
  font-family: "welcome-web";
  font-size: 2rem;
  font-weight: 600;
  padding: 40px;
  text-align: center;
}
main .contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffcd00;
  padding: 80px 0;
}
main .contact h2 {
  margin-bottom: 40px;
}
main .contact p {
  margin-bottom: 25px;
}
main .contact a {
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}
main .contact div {
  margin-bottom: 20px;
}
main .contact img {
  border-radius: 10px;
}
main .contact .mail {
  margin-bottom: 25px;
}
footer {
  color: white;
  background-color: black;
  height: 180px;
}
footer .footer-content {
  width: calc(100% - 1.5rem);
  max-width: 75rem;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img {
  width: 200px;
}

@media (max-width: 950px) {
  header .header-content {
    align-items: flex-start;
  }
  header .header-content {
    flex-direction: column;
  }
  header .top-header {
    width: 100%;
  }
  header .burger-menu {
    display: inline;
  }
  header .mini-logo {
    display: inline;
  }
  header .contact-logo {
    display: inline;
  }
  header .logo {
    display: none;
  }
  header .left-header {
    display: none;
  }
  header .right-header {
    display: none;
  }
  main .hero-section-content {
    flex-direction: column;
    justify-content: center;
  }
  main .hero-section-title h1 {
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
  main .hero-section-buttons .button {
    width: 400px;
    font-size: 1rem;
  }
  main .journey-block .box {
    width: 380px !important;
  }
  main .journey-block .b1 {
    left: calc(50% - 190px);
    top: 150px;
  }
  main .journey-block .b2 {
    left: calc(50% - 190px);
    top: 450px;
  }
  main .journey-block .b3 {
    left: calc(50% - 190px);
    top: 785px;
  }
  main .journey-block .b4 {
    left: calc(50% - 190px);
    top: 1120px;
  }
  main .journey-block .b5 {
    left: calc(50% - 190px);
    top: 1425px;
  }
  main .journey-block .line {
    height: 1400px !important;
  }
  main .journey-block .point {
    display: none;
  }
  main .journey-block {
    height: 1700px !important;
  }
  main .skill-logo img {
    width: 100px;
  }
  main .projects-nav {
    font-size: 0.75rem;
  }
  main .projects .projects-line span {
    width: 60px;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer img {
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  main .journey-block .box {
    width: 340px !important;
  }
}
